.row
  .col-lg-12
    .btn-group
      = link_to issue_types_path, class: 'btn btn-sm btn-default' do
        %i.glyphicon.glyphicon-arrow-left
      = link_to edit_issue_type_path(@issue_type), class: 'btn btn-sm btn-default' do
        %i.glyphicon.glyphicon-pencil
  .col-lg-3
    .panel.panel-primary
      .panel-heading
        %h4 Printer Info
      .panel-body
        %p
          %strong Device:
          = @issue_type.device_id
        %p
          %strong Issue:
          = @issue_type.issue
