.row
  .col-lg-2
    .btn-group
      = link_to welcome_index_path, class: 'btn btn-default' do
        %i.glyphicon.glyphicon-arrow-left
      = link_to edit_passdown_path(@passdown), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-pencil
%hr
.row
  .col-lg-4
    .panel.panel-primary
      .panel-heading
        %h4 Passdown Info
      .panel-body
        %p
          %b Body:
          = @passdown.body
        %p
          %b Employee:
          = @passdown.employee.name
