.row
  .col-lg-12
    .btn-group
      = link_to computer_models_path, class: 'btn btn-sm btn-default' do
        %i.glyphicon.glyphicon-arrow-left
      = link_to edit_computer_model_path(@computer_model), class: 'btn btn-sm btn-default' do
        %i.glyphicon.glyphicon-pencil
  .col-lg-3
    .panel.panel-primary
      .panel-heading
        %h4 Model Info
      .panel-body
        %p
          %strong Model:
          = @computer_model.model
